.main-chat
  .main-chat__group-info
    .group-info__left
      .group-info__left__group-name
        test
      .group-info__left__member
        Member：masa
    .group-info__right
      = link_to "#", class: "group-info__edit-btn", type: "button" do
        Edit
  .main-chat__message-list
    = render @messages
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main-chat__message-form__input-form', placeholder: 'type a message'
      .main-chat__message-form__message
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: '.input-form__icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'message-form__submit-btn'
